In [5]:
print("kiran")

kiran

# python fundamental

In [6]:
#how to install packagesin jupyter notewebook
#pip
#conda

!pip install numpy

Requirement already satisfied: numpy in c:\users\sap lab\anaconda3\lib\site-packages (1.19.2)

In [ ]:
!conda install numpy

In [1]:
!pip install pip

Requirement already satisfied: pip in c:\users\sap lab\anaconda3\lib\site-packages (20.2.4)

In [1]:
pip list

Note: you may need to restart the kernel to use updated packages.

'C:\Users\SAP' is not recognized as an internal or external command,
operable program or batch file.

In [4]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# variables

In [10]:
#define variable

var1=21
var2=99
var3="i am kiran"
var4=True
var5=6.22j
print(type(var1),type(var2),type(var3),type(var4),type(var5),sep="\n")

<class 'int'>
<class 'int'>
<class 'str'>
<class 'bool'>
<class 'complex'>

In [12]:
print(var1.__sizeof__())
print(var2.__sizeof__())
print(var3.__sizeof__())
print(var4.__sizeof__())
print(var5.__sizeof__())

28
28
59
28
32

In [17]:
a,b,c,d=11,44,'kiran',23.6 #a=11,b=44,c=kiran,d=23.6
print(a,b,c,d,sep="\n")

a,b=1000,4000 #a=1000,b=4000
print(a,b,c,d,sep="\n")

11
44
kiran
23.6
1000
4000
kiran
23.6

In [20]:
x=y=z=1
w=x=5
y=z=15
x=z-x
print(x,y,z,w)
x

10 15 15 5

10

In [23]:
del z
print(w,x,y,z)

NameError: name 'z' is not defined

# python strings

In [25]:
str1='my'
str2='city'
print(str1,str2,sep="\n")

my
city

In [31]:
str1='my'
str2='city'
print(str1,str2)
print(type(str1),type(str2))
print(str1+' '+str2)

my city
<class 'str'> <class 'str'>
my city

In [35]:
str1='my'
str2='city'
print(str1,str2)
print(type(str1),type(str2))
print(str1+' '+str2)
str1*3
print(str2*3)
(str1*2)+str2
print((str1*2)+str2)

my city
<class 'str'> <class 'str'>
my city
citycitycity
mymycity

In [40]:
#length of string

len(str1)

2

In [43]:
#indexing
str1[1]

'y'

In [42]:
str2[-3]

'i'

In [46]:
#slicing
#str2[start:end:step]
str2[1:3]

'it'

In [50]:
str2[1: ]

'ity'

In [54]:
str2[1:3:2]

'i'

In [1]:
#string format
string="{2} {0} {1}".format('py','prog','lang')
string

'lang py prog'

# python list

In [9]:
list1=[3,7,"KIRAN",4.5]
list2=["python",7]
print(list1,list2,sep="\n")

[3, 7, 'KIRAN', 4.5]
['python', 7]

In [11]:
list1=[3,7,"KIRAN",4.5]
list2=["python",7]
print(list1,list2,sep="\n")

len(list1)

[3, 7, 'KIRAN', 4.5]
['python', 7]

4

In [12]:
#repetation of list
list2*3

['python', 7, 'python', 7, 'python', 7]

In [15]:
#indexing
print(list1[1])
print(list1[0])
print(list2[-2])

7
3
python

In [17]:
list1[1]='suthar'
list1

[3, 'suthar', 'KIRAN', 4.5]

In [18]:
len(list1)

4

In [21]:
list1[1:2]

['suthar']

In [23]:
del list1[1]

In [24]:
list1

[3, 'KIRAN', 4.5]

# tuples

In [32]:
tuple1=('me',1,3.5)
tuple2=(1,22)
print(tuple1)
(tuple2)

('me', 1, 3.5)

(1, 22)

In [33]:
len(tuple1)

3

In [30]:
tuple1[0:1]

('me',)

In [31]:
del tuple[1]
tuple

TypeError: 'tuple' object doesn't support item deletion

In [34]:
type(tuple1)

tuple

In [35]:
tuple1[2]

3.5

In [36]:
tuple1*5

('me', 1, 3.5, 'me', 1, 3.5, 'me', 1, 3.5, 'me', 1, 3.5, 'me', 1, 3.5)

In [37]:
tuple2[-1]+4

26

In [38]:
tuple2[2]=1

TypeError: 'tuple' object does not support item assignment

# dictionary

In [52]:
dic1={"fruit":"mango","city":"baroda","rank":"2","animal":"cow"}
dic1

{'fruit': 'mango', 'city': 'baroda', 'rank': '2', 'animal': 'cow'}

In [43]:
len(dic1)

4

In [44]:
type(dic1)

dict

In [50]:
print(dic1.keys())

dict_keys(['fruit', 'city', 'rank', 'animal'])

In [51]:
print(dic1.values())

dict_values(['mango', 'baroda', '2', 'cow'])

In [56]:
dic1["fruit"]="apple"

In [57]:
dic1

{'fruit': 'apple', 'city': 'baroda', 'rank': '2', 'animal': 'cow'}

In [69]:
del dic1["city"]

In [70]:
dic1

{'rank': '2', 'animal': 'cow'}

In [73]:
dic2={"company":['comA,comB'],"EMP":['me','you']}

In [74]:
dic2

{'company': ['comA,comB'], 'EMP': ['me', 'you']}

# loop

In [2]:
#while loop
comp=0
while(comp<10):
    print("comp count: ",comp)
    comp=comp+1
else:
    print("terminate")

comp count:  0
comp count:  1
comp count:  2
comp count:  3
comp count:  4
comp count:  5
comp count:  6
comp count:  7
comp count:  8
comp count:  9
terminate

In [1]:
#for loop
n=5
for i in range(0,n):
    print(i)

0
1
2
3
4

# python calculator

In [4]:
#define function for all the operation 
#perform add,sub,mul,div operation

#define method for addition
#
def add(x,y):
    return x+y

#sub

def sub(x,y):
    return x-y

#mul

def mul(x,y):
    return x*y

#div

def div(x,y):
    return x/y

#-----print msg for user to select operation-------

print("select an opretion:1/2/3/4:")
print("1.add")
print("2.sub")
print("3.mul")
print("4.div")

choice=input("enter choice from 1/2/3/4")
if choice in ('1','2','3','4'):
    num1=int(input("enter first number:"))
    num2=int(input("enter second number:"))
    
    if choice=='1':
        print(num1,'+',num2,'=',add(num1,num2))
    elif choice=='2':
        print(num1,'-',num2,'=',sub(num1,num2))
    elif choice=='3':
        print(num1,'*',num2,'=',mul(num1,num2))
    elif choice=='4':
        print(num1,'/',num2,'=',div(num1,num2))
        
else:
    print("enter valid input:")

select an opretion:1/2/3/4:
1.add
2.sub
3.mul
4.div
enter choice from 1/2/3/43
enter first number:11
enter second number:4
11 * 4 = 44